<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="jsonFilesDirectory" value="\\wmodfs01\IT\NB_AHA_Cards\100JSON" />
        <add key="loggingDirectory" value="\\wmodfs01\IT\NB_AHA_Cards\CsvAndLogs" />
        <add key="csvFileDirectory" value="\\wmodfs01\IT\NB_AHA_Cards\CsvAndLogs" />
        <add key="errorFilesDirectory" value="\\wmodfs01\IT\NB_AHA_Cards\CsvAndLogs\BadCards" />
        <add key="ecardImageDirectory" value="\\wmodfs01\IT\NB_AHA_Cards\100Test" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>